*{
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
    background-color: aliceblue;
}

h1{
    text-align: center;
    font-size: 40px;
    margin: 15px;
    margin-bottom: 40px;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

/* <========================= HEADER =========================> */

.header{
    background-color: rgb(53, 53, 239);
    height: 150px;
}

.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    color:azure;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px 40px;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 40px;
}

a.home{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.prob{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.serv{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.integrantes{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.contato{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

/* <========================= SERVIÇOS =========================> */

h3{
    font-size: 26px;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 1vw;
    text-decoration: underline;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

.texto{
    width: 90vw;
    text-align: center;
    font-size: 20px;
}

/* ============================ footer ============================ */

footer{
    font-size: 18px;
    text-align: center;
    background-color: rgb(53, 53, 239);
    color: white;
    padding: 10px;
    margin-top: 2vw;
}

/* ============================ até 832px ============================ */

@media screen and (max-width: 832px){
    h3{
        font-size: 26px;
    }

    .texto{
        font-size: 18px;
    }

    img{
        width: 85vw;
    }
}

/* ============================ até 600px ============================ */

@media screen and (max-width: 600px){

    /* <========================= HEADER =========================> */

    h2{
        font-size:24px;
    }

.header{
    background-color: rgb(53, 53, 239);
    height: 120px;
}

.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    color:azure;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 5px 20px;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 20px;
}

a.home{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

a.prob{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

a.serv{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

a.integrantes{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

a.contato{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/* <========================= SERVIÇOS =========================> */
    h3{
        font-size: 24px;
    }

    .texto{
        font-size: 16px;
    }

    img{
        width: 85vw;
    }

    /* <========================= SERVIÇOS =========================> */

    footer{
        font-size: 16px;
    }
}



/* ============================ até 460px ============================ */

@media screen and (max-width: 470px){

    /* <========================= HEADER =========================> */

    h2{
        font-size: 22px;
    }

.header{
    background-color: rgb(53, 53, 239);
    height: 100px;
}

.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    color:azure;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 5px 10px;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 20px;
}

a.home{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

a.prob{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

a.serv{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

a.integrantes{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

a.contato{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

/* <========================= SERVIÇOS =========================> */

    h3{
        max-width: 85vw;
    }

    img{
        width: 85vw;
    }

    /* ============================ footer ============================ */

    footer{
        font-size: 12px;
    }

}

/* ============================ até 438px ============================ */

@media screen and (max-width: 438px){

    /* <========================= HEADER =========================> */

    h2{
        font-size:24px;
    }

.header{
    background-color: rgb(53, 53, 239);
    height: 100px;
}

.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    color:azure;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 5px 10px;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 20px;
}

a.home{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

a.prob{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

a.serv{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

a.integrantes{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

a.contato{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/* <========================= SERVIÇOS =========================> */
    h3{
        font-size: 26px;
    }

    .texto{
        font-size: 16px;
    }

    img{
        width: 85vw;
    }

    /* <========================= SERVIÇOS =========================> */

    footer{
        font-size: 14px;
    }

}

/* ============================ até 344px ============================ */

@media screen and (max-width: 344px){

    /* <========================= HEADER =========================> */

    h2{
        font-size:20px;
    }

.header{
    background-color: rgb(53, 53, 239);
    height: 90px;
}

.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    color:azure;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 5px 10px;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 10px;
}

a.home{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

a.prob{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

a.serv{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

a.integrantes{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

a.contato{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

/* <========================== SERVIÇOS ==========================> */
    h3{
        font-size: 26px;
    }

    .texto{
        font-size: 16px;
    }

    img{
        width: 85vw;
    }

    /* <========================== SERVIÇOS ==========================> */

    footer{
        font-size: 14px;
    }

}